<?xml version="1.0" encoding="UTF-8"?>

<select id="searchName" resultType="com.softlock.model.HosplistDTO" parameterType="String">
     SELECT * FROM hosplist WHERE 1=1
     <choose>
        <when test="#{param1}.equals('ㄱ')">
            and (hosplist_name RLIKE '^(ㄱ|ㄲ)' OR ( hosplist_name <![CDATA[ > ]]>= '가' AND hosplist_name <![CDATA[ < ]]> '나' ))
        </when>
        <when test="#{param1}.equals('ㄴ')">
            and id!=? and (name RLIKE '^ㄴ' OR ( name <![CDATA[ > ]]>= '나' AND name <![CDATA[ < ]]> '다' ))
        </when>
        <when test="#{param1}.equals('ㄷ')">
            and id!=? and (name RLIKE '^(ㄷ|ㄸ)' OR ( name <![CDATA[ > ]]>= '다' AND name <![CDATA[ < ]]> '라' ))
        </when>
        <when test="#{param1}.equals('ㄹ')">
            and id!=? and (name RLIKE '^ㄹ' OR ( name <![CDATA[ > ]]>= '라' AND name <![CDATA[ < ]]> '마' ))
        </when>
        <when test="#{param1}.equals('ㅁ')">
           WHERE and id!=? and (name RLIKE '^ㅁ' OR ( name <![CDATA[ > ]]>= '마' AND name <![CDATA[ < ]]> '바' ))
        </when>
        <when test="#{param1}.equals('ㅂ')">
            and id!=? and (name RLIKE '^ㅂ' OR ( name <![CDATA[ > ]]>= '바' AND name <![CDATA[ < ]]> '사' ))
        </when>
        <when test="#{param1}.equals('ㅅ')">
            and id!=? and (name RLIKE '^(ㅅ|ㅆ)' OR ( name <![CDATA[ > ]]>= '사' AND name <![CDATA[ < ]]> '아' ))
        </when>
        <when test="#{param1}.equals('ㅇ')">
            and id!=? and (name RLIKE '^ㅇ' OR ( name <![CDATA[ > ]]>= '아' AND name <![CDATA[ < ]]> '자' ))
        </when>
        <when test="#{param1}.equals('ㅈ')">
            and id!=? and (name RLIKE '^(ㅈ|ㅉ)' OR ( name <![CDATA[ > ]]>= '자' AND name <![CDATA[ < ]]> '차' ))
        </when>
        <when test="#{param1}.equals('ㅊ')">
            and id!=? and (name RLIKE '^ㅊ' OR ( name <![CDATA[ > ]]>= '차' AND name <![CDATA[ < ]]> '카' ))
        </when>
        <when test="#{param1}.equals('ㅋ')">
            and id!=? and (name RLIKE '^ㅋ' OR ( name <![CDATA[ > ]]>= '카' AND name <![CDATA[ < ]]> '타' ))
        </when>
        <when test="#{param1}.equals('ㅌ')">
            and id!=? and (name RLIKE '^ㅌ' OR ( name <![CDATA[ > ]]>= '타' AND name <![CDATA[ < ]]> '파' ))
        </when>
        <when test="#{param1}.equals('ㅍ')">
            and id!=? and (name RLIKE '^ㅍ' OR ( name <![CDATA[ > ]]>= '파' AND name <![CDATA[ < ]]> '하' ))
        </when>
        <when test="#{param1}.equals('ㅎ')">
            and id!=? and (name RLIKE '^ㅎ' OR ( name <![CDATA[ > ]]>= '하'))
        </when>
        <otherwise>
        and name LIKE ?
     </otherwise>
      </choose>          
</select>